<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" contnet="shin">
        <title>레시피 문의하기</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/sort.css" rel="stylesheet">
</head>

<body>
    <header id="header">
        헤더 삽입부
        <hr>
    </header>

    <main class="container">
        <div class="row">
            <ul class="col-md-8 left-side-sidebar">
                <div class="top">
                    <div class="top-left">
                        <h3>레시피 문의해요</h3>
                        <p class="body-text-3x">알고싶은 레시피가 있다면 물어보세요.<br>요리 고수님들이 친철히 답해드립니다.</p>
                        <div class="write">
                            <a href="#">작성하기</a>
                        </div>
                        <div class="small-search-wrap">
                            <div class="search-form">
                                <form action="#">
                                    <div class="form-group">
                                        <input type="text" placeholder="키워드 검색" maxlength="100" class="form-control" name="name" id="name">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <hr class="invisible small">
                    </div>
                    <div class="top-right">
                        <div class="widget widget-tags">
                            <div class="widget-title">
                                <h3>인기 해시태그</h3>
                            </div>
                            <div class="widget-body">
                                <div class="nav tag-cloud">
                                    <a href="#">#김치전</a>
                                    <a href="#">#김치전</a>
                                    <a href="#">#김치전</a>
                                    <a href="#">#김치전</a>
                                    <a href="#">#김치전</a>
                                    <a href="#">#김치전</a>
                                    <a href="#">#김치전</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <ul class="sort" id="sort">-->
<!--                        <li class="sort-list"><a>최신 순</a></li>-->
<!--                        <li class="sort-list">|</li>-->
<!--                        <li class="sort-list"><a>댓글 적은 순</a></li>-->
<!--                </ul>-->
                <div class="float-clear"></div>
                <div class="clearfix mt-40" id="article-table">
                    <ul class="xsearch-items">
                        <li class="search-item">
                            <div class="search-item-content">
                                <h3 class="title search-item-caption"><a href="#">도와주세요~</a></h3>
                                <div class="search-item-meta mb-15">
                                    <ul class="list-inline">
                                        <li class="user-id list-item">홍길동</li>
                                        <li class="list-item">|</li>
                                        <li class="created-at list-item"><time>2020년 9월 2일</time></li>
                                    </ul>
                                </div>
                                <br />
                                <div class="content">
                                    Illustration by Julian Burford. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam massa quis mauris sollicitudin commodo venenatis ligula commodo. Sed blandit convallis dignissim. Pellentesque pharetra velit eu velit elementum et convallis erat vulputate.
                                </div>
                                <div class="search-item-meta mb-15">
                                    <ul class="list-inline">
                                        <li class="list-item">댓글 1</li>
                                        <li class="list-item">좋아요 3</li>
                                        <li class="list-item">조회수 3</li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="search-item">
                            <div class="search-item-content">
                                <h3 class="search-item-caption"><a href="#">도와주세요~</a></h3>
                                <div class="search-item-meta mb-15">
                                    <ul class="list-inline">
                                        <li class="list-item">홍길동</li>
                                        <li class="list-item">|</li>
                                        <li class="list-item"> 2020년 9월 2일</li>
                                    </ul>
                                </div>
                                <br />
                                <div>
                                    Illustration by Julian Burford. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam massa quis mauris sollicitudin commodo venenatis ligula commodo. Sed blandit convallis dignissim. Pellentesque pharetra velit eu velit elementum et convallis erat vulputate.
                                </div>
                                <div class="search-item-meta mb-15">
                                    <ul class="list-inline">
                                        <li class="list-item">댓글 1</li>
                                        <li class="list-item">좋아요 3</li>
                                        <li class="list-item">조회수 3</li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="search-item">
                            <div class="search-item-content">
                                <h3 class="search-item-caption"><a href="#">도와주세요~</a></h3>
                                <div class="search-item-meta mb-15">
                                    <ul class="list-inline">
                                        <li class="list-item">홍길동</li>
                                        <li class="list-item">|</li>
                                        <li class="list-item"> 2020년 9월 2일</li>
                                    </ul>
                                </div>
                                <br />
                                <div>
                                    Illustration by Julian Burford. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam massa quis mauris sollicitudin commodo venenatis ligula commodo. Sed blandit convallis dignissim. Pellentesque pharetra velit eu velit elementum et convallis erat vulputate.
                                </div>
                                <div class="search-item-meta mb-15">
                                    <ul class="list-inline">
                                        <li class="list-item">댓글 1</li>
                                        <li class="list-item">좋아요 3</li>
                                        <li class="list-item">조회수 3</li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="search-item">
                            <div class="search-item-content">
                                <h3 class="search-item-caption"><a href="#">도와주세요~</a></h3>
                                <div class="search-item-meta mb-15">
                                    <ul class="list-inline">
                                        <li class="list-item">홍길동</li>
                                        <li class="list-item">|</li>
                                        <li class="list-item"> 2020년 9월 2일</li>
                                    </ul>
                                </div>
                                <br />
                                <div>
                                    Illustration by Julian Burford. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam massa quis mauris sollicitudin commodo venenatis ligula commodo. Sed blandit convallis dignissim. Pellentesque pharetra velit eu velit elementum et convallis erat vulputate.
                                </div>
                                <div class="search-item-meta mb-15">
                                    <ul class="list-inline">
                                        <li class="list-item">댓글 1</li>
                                        <li class="list-item">좋아요 3</li>
                                        <li class="list-item">조회수 3</li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="search-item">
                            <div class="search-item-content">
                                <h3 class="search-item-caption"><a href="#">도와주세요~</a></h3>
                                <div class="search-item-meta mb-15">
                                    <ul class="list-inline">
                                        <li class="list-item">홍길동</li>
                                        <li class="list-item">|</li>
                                        <li class="list-item"> 2020년 9월 2일</li>
                                    </ul>
                                </div>
                                <br />
                                <div>
                                    Illustration by Julian Burford. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam massa quis mauris sollicitudin commodo venenatis ligula commodo. Sed blandit convallis dignissim. Pellentesque pharetra velit eu velit elementum et convallis erat vulputate.
                                </div>
                                <div class="search-item-meta mb-15">
                                    <ul class="list-inline">
                                        <li class="list-item">댓글 1</li>
                                        <li class="list-item">좋아요 3</li>
                                        <li class="list-item">조회수 3</li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="search-item">
                            <div class="search-item-content">
                                <h3 class="search-item-caption"><a href="#">도와주세요~</a></h3>
                                <div class="search-item-meta mb-15">
                                    <ul class="list-inline">
                                        <li class="list-item">홍길동</li>
                                        <li class="list-item">|</li>
                                        <li class="list-item"> 2020년 9월 2일</li>
                                    </ul>
                                </div>
                                <br />
                                <div>
                                    Illustration by Julian Burford. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam massa quis mauris sollicitudin commodo venenatis ligula commodo. Sed blandit convallis dignissim. Pellentesque pharetra velit eu velit elementum et convallis erat vulputate.
                                </div>
                                <div class="search-item-meta mb-15">
                                    <ul class="list-inline">
                                        <li class="list-item">댓글 1</li>
                                        <li class="list-item">좋아요 3</li>
                                        <li class="list-item">조회수 3</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

<!--                <div class="clearfix mt-40">-->
<!--                    <ul class="xsearch-items">-->
<!--                        <li class="search-item">-->
<!--                            <div class="search-item-content">-->
<!--                                <h3 class="search-item-caption">10 tips for creating a stunning web presentation</h3>-->
<!--                                <div class="search-item-meta mb-15">-->
<!--                                    <ul class="list-inline">-->
<!--                                        <li class="list-item">홍길동 |</li>-->
<!--                                        <li class="list-item">2020-12-11</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <br/>-->
<!--                                <div>-->
<!--                                    Illustration by Julian Burford. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam massa quis mauris sollicitudin commodo venenatis ligula commodo. Sed blandit convallis dignissim. Pellentesque pharetra velit eu velit elementum et convallis erat vulputate.-->
<!--                                </div>-->
<!--                                <div class="search-item-meta mb-15">-->
<!--                                    <ul class="list-inline">-->
<!--                                        <li class="list-item">댓글 2</li>-->
<!--                                        <li class="list-item">좋아요 3</li>-->
<!--                                        <li class="list-item">조회수 3</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->

<!--                        <li class="search-item">-->
<!--                            <div class="search-item-content">-->
<!--                                <h3 class="search-item-caption">10 tips for creating a stunning web presentation</h3>-->
<!--                                <div class="search-item-meta mb-15">-->
<!--                                    <ul class="list-inline">-->
<!--                                        <li class="list-item">홍길동 |</li>-->
<!--                                        <li class="list-item">2020-12-11</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <br/>-->
<!--                                <div>-->
<!--                                    Illustration by Julian Burford. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam massa quis mauris sollicitudin commodo venenatis ligula commodo. Sed blandit convallis dignissim. Pellentesque pharetra velit eu velit elementum et convallis erat vulputate.-->
<!--                                </div>-->
<!--                                <div class="search-item-meta mb-15">-->
<!--                                    <ul class="list-inline">-->
<!--                                        <li class="list-item">댓글 2</li>-->
<!--                                        <li class="list-item">좋아요 3</li>-->
<!--                                        <li class="list-item">조회수 3</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->

<!--                        <li class="search-item">-->
<!--                            <div class="search-item-content">-->
<!--                                <h3 class="search-item-caption">10 tips for creating a stunning web presentation</h3>-->
<!--                                <div class="search-item-meta mb-15">-->
<!--                                    <ul class="list-inline">-->
<!--                                        <li class="list-item">홍길동 |</li>-->
<!--                                        <li class="list-item">2020-12-11</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <br/>-->
<!--                                <div>-->
<!--                                    Illustration by Julian Burford. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam massa quis mauris sollicitudin commodo venenatis ligula commodo. Sed blandit convallis dignissim. Pellentesque pharetra velit eu velit elementum et convallis erat vulputate.-->
<!--                                </div>-->
<!--                                <div class="search-item-meta mb-15">-->
<!--                                    <ul class="list-inline">-->
<!--                                        <li class="list-item">댓글 2</li>-->
<!--                                        <li class="list-item">좋아요 3</li>-->
<!--                                        <li class="list-item">조회수 3</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->

<!--                        <li class="search-item">-->
<!--                            <div class="search-item-content">-->
<!--                                <h3 class="search-item-caption">10 tips for creating a stunning web presentation</h3>-->
<!--                                <div class="search-item-meta mb-15">-->
<!--                                    <ul class="list-inline">-->
<!--                                        <li class="list-item">홍길동 |</li>-->
<!--                                        <li class="list-item">2020-12-11</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <br/>-->
<!--                                <div>-->
<!--                                    안녕하세요 질문이 있습니다!-->
<!--                                </div>-->
<!--                                <div class="search-item-meta mb-15">-->
<!--                                    <ul class="list-inline">-->
<!--                                        <li class="list-item">댓글 2</li>-->
<!--                                        <li class="list-item">좋아요 3</li>-->
<!--                                        <li class="list-item">조회수 3</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->

<!--                        <li class="search-item">-->
<!--                            <div class="search-item-content">-->
<!--                                <h3 class="search-item-caption">10 tips for creating a stunning web presentation</h3>-->
<!--                                <div class="search-item-meta mb-15">-->
<!--                                    <ul class="list-inline">-->
<!--                                        <li class="list-item">홍길동 |</li>-->
<!--                                        <li class="list-item">2020-12-11</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <br/>-->
<!--                                <div>-->
<!--                                    Illustration by Julian Burford. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam massa quis mauris sollicitudin commodo venenatis ligula commodo. Sed blandit convallis dignissim. Pellentesque pharetra velit eu velit elementum et convallis erat vulputate.-->
<!--                                </div>-->
<!--                                <div class="search-item-meta mb-15">-->
<!--                                    <ul class="list-inline">-->
<!--                                        <li class="list-item">댓글 2</li>-->
<!--                                        <li class="list-item">좋아요 3</li>-->
<!--                                        <li class="list-item">조회수 3</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->

<!--                        <li class="search-item">-->
<!--                            <div class="search-item-content">-->
<!--                                <h3 class="search-item-caption">10 tips for creating a stunning web presentation</h3>-->
<!--                                <div class="search-item-meta mb-15">-->
<!--                                    <ul class="list-inline">-->
<!--                                        <li class="list-item">홍길동 |</li>-->
<!--                                        <li class="list-item">2020-12-11</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <br/>-->
<!--                                <div>-->
<!--                                    Illustration by Julian Burford. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam massa quis mauris sollicitudin commodo venenatis ligula commodo. Sed blandit convallis dignissim. Pellentesque pharetra velit eu velit elementum et convallis erat vulputate.-->
<!--                                </div>-->
<!--                                <div class="search-item-meta mb-15">-->
<!--                                    <ul class="list-inline">-->
<!--                                        <li class="list-item">댓글 2</li>-->
<!--                                        <li class="list-item">좋아요 3</li>-->
<!--                                        <li class="list-item">조회수 3</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->

        <nav id="pagination" aria-label="Page navigation example" >
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

    <footer id="footer">
        푸터 삽입부
        <hr>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>