<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" contnet="shin">
        <title>레시피 문의하기</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
</head>

<body>
    <header id="header"></header>

    <main class="container">
        <div class="row">
            <div class="col-md-8 left-side-sidebar">
                <div class="row text-center">
                    <div class="col-md-8 offset-md-2">
                        <h3>레시피 문의해요</h3>
                        <p class="body-text-3x">알고싶은 레시피가 있다면 물어보세요.<br>요리 고수님들이 친철히 답해드립니다.</p>
                        <div class="write">
                            <a href="#">작성하기</a>
                        </div>
                        <div class="small-search-wrap">
                            <div class="search-form">
                                <form action="#">
                                    <div class="form-group">
                                        <input type="text" value="키워드 검색" placeholder="Search something here" maxlength="100" class="form-control" name="name" id="name">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <hr class="invisible small">
                    </div>
                </div>

                <div class="clearfix mt-40">
                    <ul class="xsearch-items">
                        <li class="search-item">
                            <div class="search-item-content">
                                <h3 class="search-item-caption"><a href="#">도와주세요~</a></h3>
                                <div class="search-item-meta mb-15">
                                    <ul class="list-inline">
                                        <li class="list-item">홍길동</li>
                                        <li class="list-item">|</li>
                                        <li class="list-item"> 2020년 9월 2일</li>
                                    </ul>
                                </div>
                                <br />
                                <div>
                                    Illustration by Julian Burford. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam massa quis mauris sollicitudin commodo venenatis ligula commodo. Sed blandit convallis dignissim. Pellentesque pharetra velit eu velit elementum et convallis erat vulputate.
                                </div>
                                <div class="search-item-meta mb-15">
                                    <ul class="list-inline">
                                        <li class="list-item">댓글 1</li>
                                        <li class="list-item">좋아요 3</li>
                                        <li class="list-item">조회수 3</li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="search-item">
                            <div class="search-item-content">
                                <h3 class="search-item-caption"><a href="#">도와주세요~</a></h3>
                                <div class="search-item-meta mb-15">
                                    <ul class="list-inline">
                                        <li class="list-item">홍길동</li>
                                        <li class="list-item">|</li>
                                        <li class="list-item"> 2020년 9월 2일</li>
                                    </ul>
                                </div>
                                <br />
                                <div>
                                    Illustration by Julian Burford. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam massa quis mauris sollicitudin commodo venenatis ligula commodo. Sed blandit convallis dignissim. Pellentesque pharetra velit eu velit elementum et convallis erat vulputate.
                                </div>
                                <div class="search-item-meta mb-15">
                                    <ul class="list-inline">
                                        <li class="list-item">댓글 1</li>
                                        <li class="list-item">좋아요 3</li>
                                        <li class="list-item">조회수 3</li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="search-item">
                            <div class="search-item-content">
                                <h3 class="search-item-caption"><a href="#">도와주세요~</a></h3>
                                <div class="search-item-meta mb-15">
                                    <ul class="list-inline">
                                        <li class="list-item">홍길동</li>
                                        <li class="list-item">|</li>
                                        <li class="list-item"> 2020년 9월 2일</li>
                                    </ul>
                                </div>
                                <br />
                                <div>
                                    Illustration by Julian Burford. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam massa quis mauris sollicitudin commodo venenatis ligula commodo. Sed blandit convallis dignissim. Pellentesque pharetra velit eu velit elementum et convallis erat vulputate.
                                </div>
                                <div class="search-item-meta mb-15">
                                    <ul class="list-inline">
                                        <li class="list-item">댓글 1</li>
                                        <li class="list-item">좋아요 3</li>
                                        <li class="list-item">조회수 3</li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="search-item">
                            <div class="search-item-content">
                                <h3 class="search-item-caption"><a href="#">도와주세요~</a></h3>
                                <div class="search-item-meta mb-15">
                                    <ul class="list-inline">
                                        <li class="list-item">홍길동</li>
                                        <li class="list-item">|</li>
                                        <li class="list-item"> 2020년 9월 2일</li>
                                    </ul>
                                </div>
                                <br />
                                <div>
                                    Illustration by Julian Burford. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam massa quis mauris sollicitudin commodo venenatis ligula commodo. Sed blandit convallis dignissim. Pellentesque pharetra velit eu velit elementum et convallis erat vulputate.
                                </div>
                                <div class="search-item-meta mb-15">
                                    <ul class="list-inline">
                                        <li class="list-item">댓글 1</li>
                                        <li class="list-item">좋아요 3</li>
                                        <li class="list-item">조회수 3</li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="search-item">
                            <div class="search-item-content">
                                <h3 class="search-item-caption"><a href="#">도와주세요~</a></h3>
                                <div class="search-item-meta mb-15">
                                    <ul class="list-inline">
                                        <li class="list-item">홍길동</li>
                                        <li class="list-item">|</li>
                                        <li class="list-item"> 2020년 9월 2일</li>
                                    </ul>
                                </div>
                                <br />
                                <div>
                                    Illustration by Julian Burford. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam massa quis mauris sollicitudin commodo venenatis ligula commodo. Sed blandit convallis dignissim. Pellentesque pharetra velit eu velit elementum et convallis erat vulputate.
                                </div>
                                <div class="search-item-meta mb-15">
                                    <ul class="list-inline">
                                        <li class="list-item">댓글 1</li>
                                        <li class="list-item">좋아요 3</li>
                                        <li class="list-item">조회수 3</li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="search-item">
                            <div class="search-item-content">
                                <h3 class="search-item-caption"><a href="#">도와주세요~</a></h3>
                                <div class="search-item-meta mb-15">
                                    <ul class="list-inline">
                                        <li class="list-item">홍길동</li>
                                        <li class="list-item">|</li>
                                        <li class="list-item"> 2020년 9월 2일</li>
                                    </ul>
                                </div>
                                <br />
                                <div>
                                    Illustration by Julian Burford. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam massa quis mauris sollicitudin commodo venenatis ligula commodo. Sed blandit convallis dignissim. Pellentesque pharetra velit eu velit elementum et convallis erat vulputate.
                                </div>
                                <div class="search-item-meta mb-15">
                                    <ul class="list-inline">
                                        <li class="list-item">댓글 1</li>
                                        <li class="list-item">좋아요 3</li>
                                        <li class="list-item">조회수 3</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 m-15px-tb blog-aside">
                <!-- Latest Post -->
                <div class="widget widget-latest-post">
                    <div class="widget-title">
                        <h3>인기 게시글</h3>
                    </div>
                    <div class="widget-body">
                        <div class="latest-post-aside media">
                            <div class="lpa-left media-body">
                                <div class="lpa-title">
                                    <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                                </div>
                                <div class="lpa-meta">
                                    <a class="name" href="#">
                                        Rachel Roth
                                    </a>
                                    <a class="date" href="#">
                                        26 FEB 2020
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="latest-post-aside media">
                            <div class="lpa-left media-body">
                                <div class="lpa-title">
                                    <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                                </div>
                                <div class="lpa-meta">
                                    <a class="name" href="#">
                                        Rachel Roth
                                    </a>
                                    <a class="date" href="#">
                                        26 FEB 2020
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="latest-post-aside media">
                            <div class="lpa-left media-body">
                                <div class="lpa-title">
                                    <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                                </div>
                                <div class="lpa-meta">
                                    <a class="name" href="#">
                                        Rachel Roth
                                    </a>
                                    <a class="date" href="#">
                                        26 FEB 2020
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Latest Post -->
                <!-- widget Tags -->
                <div class="widget widget-tags">
                    <div class="widget-title">
                        <h3>인기 해시태그</h3>
                    </div>
                    <div class="widget-body">
                        <div class="nav tag-cloud">
                            <a href="#">#김치전</a>
                            <a href="#">#김치전</a>
                            <a href="#">#김치전</a>
                            <a href="#">#김치전</a>
                            <a href="#">#김치전</a>
                            <a href="#">#김치전</a>
                            <a href="#">#김치전</a>
                        </div>
                    </div>
                </div>
                <!-- End widget Tags -->
            </div>
        </div>
    </main>

<!--                <div class="clearfix mt-40">-->
<!--                    <ul class="xsearch-items">-->
<!--                        <li class="search-item">-->
<!--                            <div class="search-item-content">-->
<!--                                <h3 class="search-item-caption">10 tips for creating a stunning web presentation</h3>-->
<!--                                <div class="search-item-meta mb-15">-->
<!--                                    <ul class="list-inline">-->
<!--                                        <li class="list-item">홍길동 |</li>-->
<!--                                        <li class="list-item">2020-12-11</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <br/>-->
<!--                                <div>-->
<!--                                    Illustration by Julian Burford. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam massa quis mauris sollicitudin commodo venenatis ligula commodo. Sed blandit convallis dignissim. Pellentesque pharetra velit eu velit elementum et convallis erat vulputate.-->
<!--                                </div>-->
<!--                                <div class="search-item-meta mb-15">-->
<!--                                    <ul class="list-inline">-->
<!--                                        <li class="list-item">댓글 2</li>-->
<!--                                        <li class="list-item">좋아요 3</li>-->
<!--                                        <li class="list-item">조회수 3</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->

<!--                        <li class="search-item">-->
<!--                            <div class="search-item-content">-->
<!--                                <h3 class="search-item-caption">10 tips for creating a stunning web presentation</h3>-->
<!--                                <div class="search-item-meta mb-15">-->
<!--                                    <ul class="list-inline">-->
<!--                                        <li class="list-item">홍길동 |</li>-->
<!--                                        <li class="list-item">2020-12-11</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <br/>-->
<!--                                <div>-->
<!--                                    Illustration by Julian Burford. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam massa quis mauris sollicitudin commodo venenatis ligula commodo. Sed blandit convallis dignissim. Pellentesque pharetra velit eu velit elementum et convallis erat vulputate.-->
<!--                                </div>-->
<!--                                <div class="search-item-meta mb-15">-->
<!--                                    <ul class="list-inline">-->
<!--                                        <li class="list-item">댓글 2</li>-->
<!--                                        <li class="list-item">좋아요 3</li>-->
<!--                                        <li class="list-item">조회수 3</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->

<!--                        <li class="search-item">-->
<!--                            <div class="search-item-content">-->
<!--                                <h3 class="search-item-caption">10 tips for creating a stunning web presentation</h3>-->
<!--                                <div class="search-item-meta mb-15">-->
<!--                                    <ul class="list-inline">-->
<!--                                        <li class="list-item">홍길동 |</li>-->
<!--                                        <li class="list-item">2020-12-11</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <br/>-->
<!--                                <div>-->
<!--                                    Illustration by Julian Burford. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam massa quis mauris sollicitudin commodo venenatis ligula commodo. Sed blandit convallis dignissim. Pellentesque pharetra velit eu velit elementum et convallis erat vulputate.-->
<!--                                </div>-->
<!--                                <div class="search-item-meta mb-15">-->
<!--                                    <ul class="list-inline">-->
<!--                                        <li class="list-item">댓글 2</li>-->
<!--                                        <li class="list-item">좋아요 3</li>-->
<!--                                        <li class="list-item">조회수 3</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->

<!--                        <li class="search-item">-->
<!--                            <div class="search-item-content">-->
<!--                                <h3 class="search-item-caption">10 tips for creating a stunning web presentation</h3>-->
<!--                                <div class="search-item-meta mb-15">-->
<!--                                    <ul class="list-inline">-->
<!--                                        <li class="list-item">홍길동 |</li>-->
<!--                                        <li class="list-item">2020-12-11</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <br/>-->
<!--                                <div>-->
<!--                                    안녕하세요 질문이 있습니다!-->
<!--                                </div>-->
<!--                                <div class="search-item-meta mb-15">-->
<!--                                    <ul class="list-inline">-->
<!--                                        <li class="list-item">댓글 2</li>-->
<!--                                        <li class="list-item">좋아요 3</li>-->
<!--                                        <li class="list-item">조회수 3</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->

<!--                        <li class="search-item">-->
<!--                            <div class="search-item-content">-->
<!--                                <h3 class="search-item-caption">10 tips for creating a stunning web presentation</h3>-->
<!--                                <div class="search-item-meta mb-15">-->
<!--                                    <ul class="list-inline">-->
<!--                                        <li class="list-item">홍길동 |</li>-->
<!--                                        <li class="list-item">2020-12-11</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <br/>-->
<!--                                <div>-->
<!--                                    Illustration by Julian Burford. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam massa quis mauris sollicitudin commodo venenatis ligula commodo. Sed blandit convallis dignissim. Pellentesque pharetra velit eu velit elementum et convallis erat vulputate.-->
<!--                                </div>-->
<!--                                <div class="search-item-meta mb-15">-->
<!--                                    <ul class="list-inline">-->
<!--                                        <li class="list-item">댓글 2</li>-->
<!--                                        <li class="list-item">좋아요 3</li>-->
<!--                                        <li class="list-item">조회수 3</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->

<!--                        <li class="search-item">-->
<!--                            <div class="search-item-content">-->
<!--                                <h3 class="search-item-caption">10 tips for creating a stunning web presentation</h3>-->
<!--                                <div class="search-item-meta mb-15">-->
<!--                                    <ul class="list-inline">-->
<!--                                        <li class="list-item">홍길동 |</li>-->
<!--                                        <li class="list-item">2020-12-11</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <br/>-->
<!--                                <div>-->
<!--                                    Illustration by Julian Burford. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam massa quis mauris sollicitudin commodo venenatis ligula commodo. Sed blandit convallis dignissim. Pellentesque pharetra velit eu velit elementum et convallis erat vulputate.-->
<!--                                </div>-->
<!--                                <div class="search-item-meta mb-15">-->
<!--                                    <ul class="list-inline">-->
<!--                                        <li class="list-item">댓글 2</li>-->
<!--                                        <li class="list-item">좋아요 3</li>-->
<!--                                        <li class="list-item">조회수 3</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

    <footer id="footer"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>